<!--
Robert Davis
2024.05.19
-->

<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>RSA Encryption</h1>


        <div id="keys">
            <h2>Generate Keys</h2>

            <form method="post" action="/">
                <label for="bit_length">Bit Length:</label>
                <input
                    type="number" min="10" max="2048" step="1"
                    value="{{ bit_length }}" name="bit_length"
                >

                <input
                    type="hidden" name="message"
                    value="{{ message }}"
                >

                <input type="hidden" name="type" value="keys">
                <input type="submit">
            </form>

            <div id="key_output">
                <h3>Public Key</h3>
                <p>{{ public }}</p>

                <h3>Private Key</h3>
                <p>{{ private }}</p>

                <h3>Modulus</h3>
                <p>{{ modulus }}</p>
            </div>
        </div>


        <div id="encrypt">
            <h2>Encrypt Message</h2>

            <form action="/" method="post">
                <label for="message">Message:</label>
                <input type="text" name="message" value="{{ message }}">

                <label for="public_key">Public:</label>
                <input
                    type="text" step="1" name="public"
                    value="{{ public }}"
                >

                <label for="modulus">Modulus:</label>
                <input
                    type="text" step="1" name="modulus"
                    value="{{ modulus }}"
                >

                <input type="hidden" name="private" value="{{private}}">
                <input type="hidden"
                    name="encrypted" value="{{ encrypted }}"
                >
                <input type="hidden"
                    name="encrypted_message"
                    value="{{ encrypted_message }}"
                >
                <input type="hidden"
                    name="decrypted_message"
                    value="{{ decrypted_message }}"
                >
                <input type="hidden"
                    name="bit_length" value="{{ bit_length }}"
                >

                <input type="hidden" name="type" value="encrypt">
                <input type="submit">
            </form>

            <div id="encrypt_output">{{ encrypted_message }}</div>
        </div>


        <div id="decrypt">
            <h2>Decrypt Message</h2>

            <form action="/" method="post">
                <label for="encrypted">Encrypted Message:</label>
                <input type="text"
                    name="encrypted" value="{{ encrypted_message }}"
                >

                <label for="private_key">Private:</label>
                <input type="text"
                    step="1" name="private" value="{{ private }}"
                >

                <label for="modulus">Modulus:</label>
                <input type="text"
                    step="1" name="modulus" value="{{ modulus }}"
                >

                <input type="hidden"
                    name="public" value="{{ public }}"
                >
                <input type="hidden"
                    name="message" value="{{ message }}"
                >
                <input type="hidden"
                    name="encrypted_message"
                    value="{{ encrypted_message }}"
                >
                <input type="hidden"
                    name="decrypted_message"
                    value="{{ decrypted_message }}"
                >
                <input type="hidden"
                    name="bit_length" value="{{ bit_length }}"
                >

                <input type="hidden" name="type" value="decrypt">
                <input type="submit">
            </form>

            <div id="decrypt_output">{{ decrypted_message }}</div>
        </div>


        <div id="explanation"></div>
    </body>
</html>